target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### JS stuff ###
.idea
.mvn
*.iml
*.iws
.project
.classpath
.settings
orbtrc.*.txt
**/target
**/webapp/js
**/logs/*
!.gitkeep
**/node_modules/
**/node/
**/bower_components/
**/dist.dev/
**/dist.prod/
**/tmp
*.log
protractor.conf.js
protractor.headless.conf.js
junitresults.xml
vendor.js

