
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <h2 translate="settings.title">Settings</h2>

    <lb-alert></lb-alert>
    <lb-alert-error></lb-alert-error>

    <div class="well">

        <div class="form-group">
            <label class="control-label" translate="settings.operators.select">Current operator</label>

            <table class="table table-responsive">
                <tbody>
                <tr ng-repeat="op in vm.operators">
                    <td class="col-md-1 text-center" >
                        <div class="radio">
                            <input type="radio" name="field_operator" value="{{op.code}}" ng-model="vm.operator" required>
                        </div>
                    </td>
                    <td class="col-md-9 text-left"><i>{{op.name}}</i>
                        <br>
                        <span translate="settings.operators.code">Code</span>: <b>{{op.code}}</b>,
                        <span translate="settings.operators.inn">Inn</span>: <b>{{op.inn}}</b>,
                        <span translate="settings.operators.authType">Auth type</span>:
                        <span ng-repeat="type in op.authType">
                            <span class="label label-primary" translate="settings.operators.authTypes.{{type}}">{{type}}</span> &nbsp;
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div ng-show="editForm.field_operator.$invalid">
                <p class="help-block"
                   ng-show="editForm.field_operator.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>

            <button type="button" ng-disabled="editForm.$invalid" class="btn btn-primary" ng-click="vm.testOperator($event)">
                <span class="glyphicon glyphicon-flash"></span>&nbsp;<span translate="settings.operators.test">Test</span>
            </button>
        </div>



    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-info">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
